<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>IT内容学习笔记</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/theme/layui/css/layui.css" rel="stylesheet" />
    <script src="~/theme/layui/lay/dest/layui.all.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div class ="layui-bg-blue">
        @Html.ActionLink("笔记首页", "Index", "Home", new { area = "" }, new { @class = "layui-btn layui-this" })
        @Html.ActionLink("新增记录", "AddContent", "Home", new { area = "" }, new { @class = "layui-btn" })
    </div>
    
    <div class="layui-main">
        @RenderBody()
    </div>
    <div class="layui-foot" id="test">

    </div>
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Render.Section("scripts", required: false)*@
    <script>
        layui.config({
            base: 'theme/layui/lay/modules/'
        }).use('global');
    </script>
</body >
</html >
